@import "mocha.css";
@import "colors.css";

* {
    font-family: FiraCode Nerd Font;
    font-size: 13px;
    min-height: 0;
    padding: 1.5px 1.5px;
}

.modules-right:last-child { margin-right: 5px; }
.modules-left:first-child { margin-left: 5px; }

#waybar {
    background: transparent;
    background-color: @crust;
    color: @text;
    transition-property: background-color;
    transition-duration: 0.1s;
    border-bottom: 1px solid @overlay1;
}

/* Active and inactive states */
#network.wifi {
    color: @text;
}
#network.disabled,
#network.disconnected,
#bluetooth.disabled,
#bluetooth.off,
#pulseaudio.muted,
#pulseaudio.source-muted
{
    color: alpha(@subtext0, 0.7);
}

/* box */
#clock,
#battery,
#sys-info,
#traygroup,
#workspaces {
    background-color: #23232D; /* matle oder sowas*/
    /* border: red solid 1px; */
    margin: 2px 1px;
    border-radius: 4px;
}

/* workspaces */
#workspaces > button { 
    padding: 0px 4px; 
    font-weight: 900;
    font-size: 20px;
    border-radius: 0px;
}

#workspaces > button.empty {
    color: @overlay0;
    /* border: 1px solid red; */
}
#workspaces > button.visible {
    color: @overlay0;
    /* border: 1px solid red; */
}
#workspaces > button.active {
    color: @blue;
    background: alpha(@blue, 0.1);
    /* border-bottom: 1px solid @overlay0; */
}
#workspaces > button:hover { 
    background: alpha(@blue, 0.2);
    color: @text;
}

#bluetooth,
#battery,
#pulseaudio,
#custom-distrologo,
#custom-power,
#custom-wifi,
#backlight,
#network,
#tray,
#custom-notification,
#clock
{
    padding: 0 10px;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

#custom-wifi {
    margin-right: 12px;
}

#pulseaudio {
    margin-right: 7px;
}

#custom-distrologo {
    color: @blue
}

#custom-power {
    font-size: 20px;
    color: @red;
}

#window {
    font-size: 20px;
}

/* Styling tooltips */
tooltip {
    border-radius: 15px;
    background: @surface0;
}
tooltip > box {
    padding: 15px
}
tooltip label {
    color: @text;
}

/* Styling brightness and volume and slider */
#pulseaudio-slider,
#backlight-slider {
    /* margin-right: 10px; */
    /* border: solid 1px red; */
    border: none;
}
#pulseaudio-slider {
  margin-left: 5px;
  margin-right: 5px;
}
#backlight-slider {
  margin-left: 10px;
}
#pulseaudio-slider slider,
#backlight-slider slider {
    margin-left: -10px;
    min-width: 10px;
    min-height: 10px;
    background: transparent;
    box-shadow: none;
    padding: 0px;

}
#pulseaudio-slider trough,
#backlight-slider trough {
    min-width: 80px;
    border-radius: 5px;
    background-color: @surface0;
}
#pulseaudio-slider highlight,
#backlight-slider highlight {
    border-radius: 5px;
    min-height: 8px;
}
